<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="db.properties" />
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<typeAliases>
		<package name="com.thzhima.blog.bean" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
				<property name="" value="" />
			</transactionManager>
			<dataSource type="UNPOOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${pwd}" />
			</dataSource>

		</environment>
	</environments>

	<mappers>
		<mapper resource="com/thzhima/blog/bean/UserMapper.xml" />
		<mapper resource="com/thzhima/blog/bean/BlogMapper.xml" />
		<mapper resource="com/thzhima/blog/bean/ReviewMapper.xml" />
		<mapper resource="com/thzhima/blog/bean/ArticleMapper.xml" />
	</mappers>
</configuration>